

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
(click)="OnOpenModal()"
>
    Launch demo modal
  </button>
  
  <!-- Modal -->

    
  <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  [ngClass]="{'d-block': openModal,
              'd-none': openModal
            }"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeModal()"
          ></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="closeModal()"
          >Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>



<form action="" [formGroup]="onForm" (ngSubmit)="onNext()">
    <div class="form-group">
        <label for="invalidCheck">Check</label>
        <input type="checkbox" name="invalidCheck" id="invalidCheck" class="form-check" formControlName="invalidCheck">
        <ng-container *ngIf="f['invalidCheck'].touched && f['invalidCheck'].invalid">
            <small class="text-danger">Required...</small>
        </ng-container>
    </div>
    <button class="btn btn-primary" >Next</button>
</form>