<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <app-dependent-dropdown></app-dependent-dropdown> -->

<!-- <app-reactive-forms></app-reactive-forms> -->


<!-- <div class="container">
    <div class="row ">
        <div class="col-md-6 offset-md3">
            <form action="" [formGroup]="passForm" (ngSubmit)="loginForm()">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" name="password" id="password" formControlName="password" class="form-control">
                </div>
                <div class="form-group">
                    
                <label for="confirmpassword">ConfirmPassword</label>
                <input type="text" name="confirmpassword" id="confirmpassword" formControlName="confirmpassword" class="form-control">
             
                    <small *ngIf="passForm?.errors?.['misMatch'] && passForm.controls['confirmpassword'].touched">
                        Password must match
                    </small>
               {{passForm.errors | json}}
                </div>
                <div class="btnss">
                    <button class="btn btn-primary" type=" submit" [disabled]="passForm.invalid">Login</button>
                </div>
                </form>
        </div>
    </div>
</div>  -->

