<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <form action="https://formsubmit.co/sutarern95@gmail.com" method="POST">
                <div class="form-group">
                    <input type="email" name="email" class="form-control my-2" placeholder="Email Address" required>
                    <input type="text" name="name" class="form-control" placeholder="Message" required>
                    <input type="hidden" name="_captcha" value="false">
                </div>
                <button type="submit" class="btn btn-primary text-center" routerLink="/thankYou">Send</button>
            </form>
        </div>
    </div>
</div>